.projects {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 25px;

  h1 {
    font-size: 5rem;
    margin-bottom: 75px;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    .arrow {
      img {
        width: 25px;
      }
      &:hover {
        cursor: pointer;
        img {
          filter: brightness(1.5);
        }
      }
    }
  }
}
