.intro {
  height: calc(100dvh - var(--header-height));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 200px;

  .title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  .subtitle {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-top: -10px;
  }
}

@media (min-width: 450px) {
  .intro {
    .title {
      font-size: 3rem;
    }
    .subtitle {
      font-size: 1.3rem;
      margin-top: -15px;
    }
  }
}

@media (min-width: 750px) {
  .intro {
    .title {
      font-size: 4.5rem;
    }
    .subtitle {
      font-size: 1.8rem;
      margin-top: -20px;
    }
  }
}
