.contact {
  margin-top: 40px;
  padding: 0 25px 40px 25px;
  width: 100%;
  background-color: rgb(27, 25, 29);
  display: flex;
  justify-content: center;
  div {
    width: 100%;
    max-width: 650px;
    p {
      margin: 0;
      padding: 5px;
      font-size: 0.9rem;
      &:nth-of-type(1) {
        font-family: var(--secondary-font);
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--neutral);
        margin: 25px 0 15px 0;
      }
      a {
        color: var(--gold);
        text-decoration: none;
        transition: color ease-in 0.3s;
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

@media (min-width: 830px) {
  .contact {
    div > {
      p {
        font-size: 1.1rem;
        &:nth-of-type(1) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
