.button {
  width: 30px;
  position: relative;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  color: var(--neutral);
  background-color: var(--dark-grey);
  a {
    color: var(--neutral);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
    }
    &:visited {
      color: var(--neutral);
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &::after {
    background-color: var(--dark-grey);
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
