.up-button {
  background-color: var(--very-dark-blue);
  border: none;
  width: 45px;
  height: 45px;
  font-size: 1rem;
  color: var(--neutral);
  border: 1px solid var(--neutral);
  border-radius: 50%;

  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 2;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    color: var(--gold);
    border-color: var(--gold);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &::after {
    color: var(--gold);
    border-color: var(--gold);
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &::after {
    background-color: var(--very-dark-blue);
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
